*.md
Analysis/Fig1.png
*.html
*.pdf
*.RData
Analysis/figure/
Analysis/old/BinSpline1.bug
Analysis/old/ConvertMD.R
Analysis/old/Dag.png
Analysis/old/Dag.pptx
Analysis/old/HazSplLog.txt
Analysis/old/HazSplLog10k.txt
Analysis/old/HazSplLog10k_ab.txt
Analysis/old/HazSplLog20k.txt
Analysis/old/HazSplLog20kSero.txt
Analysis/old/HazSplLog20k_ab.txt
Analysis/old/HazSplLog40k.txt
Analysis/old/HazSplLog40k_ab.txt
Analysis/old/HazSpline1.bug
Analysis/old/HazSpline1.txt
Analysis/old/HazSpline2.txt
Analysis/old/HazSpline3.txt
Analysis/old/PartHazModel.odc
Analysis/old/VIT_Data2013.txt
Analysis/old/VIT_Interval_4_updated.xlsx
Analysis/old/VIT_RunBugsModels_ab.R
Analysis/old/VIT_cloglog.R
Analysis/old/Write_VITBugsSpline.r
Analysis/old/icar_jag.txt
Analysis/old/icar_part.bug
Analysis/old/icar_part.txt
Analysis/old/icar_partjag.txt
Analysis/old/spline2.txt
Analysis/old/testtable.Rmd
Analysis/spline refs/
*.bug
Analysis/Table1.docx
Analysis/WriteUp.docx
Fig1.svgz
Fig1_600.png
VIT_Locs_2014.png
Analysis/.Rhistory
Analysis/BirthTiming.docx
Analysis/Figures.docx
Analysis/VITTable1.docx
Analysis/VIT_Figures.docx
Analysis/VIT_WriteUp.docx
Analysis/SupInfo_files/figure-docx/FigS1-1.png
Analysis/SupInfo_files/figure-docx/FigS2-1.png
Analysis/SupInfo_files/figure-docx/FigS3-1.png
Analysis/SupInfo.docx
Analysis/TableS2.docx
Analysis/figure_rmd/Fig2-1.png
Analysis/figure_rmd/Fig3-1.png
Analysis/figure_rmd/Fig4-1.png
Analysis/figure_rmd/Fig5-1.png
Analysis/figure_rmd/FigS1-1.png
Analysis/figure_rmd/FigS2-1.png
Analysis/figure_rmd/FigS3-1.png
Analysis/figure_rmd/Fig2-1.svg
Analysis/figure_rmd/Fig3-1.svg
Analysis/figure_rmd/Fig4-1.svg
Analysis/figure_rmd/Fig5-1.svg
Analysis/figure_rmd/Fig5-1.tiff
Analysis/figure_rmd/Fig5.png
Analysis/figure_rmd/Fig5b.svg
